RPI_FREQ_HZ=869618000
RPI_SF=8
RPI_BW_HZ=62500
RPI_CR=8
RPI_TX_DBM=22
RPI_RADIO_DRIVER=sx1262
RPI_DATA_DIR=/var/lib/raspberrypimc/userdata
RPI_SPI_DEV_PREFIX=/dev/spidev
RPI_SPI_BUS=0
RPI_SPI_CS=0
RPI_CS_PIN=21
RPI_SPI_SPEED_HZ=1000000
RPI_RESET_PIN=18
RPI_BUSY_PIN=20
RPI_IRQ_PIN=16
RPI_TXEN_PIN=13
RPI_RXEN_PIN=12
RPI_USE_TCXO=0
RPI_USE_DIO2_RF=0
RPI_COMPANION_TCP_PORT=5000
RPI_COMPANION_TCP_HOST=127.0.0.1
RPI_COMPANION_BLE_ENABLE=0
RPI_COMPANION_BLE_ADAPTER=hci0
RPI_COMPANION_BLE_NAME=MeshCoreRPI
RPI_COMPANION_WEB_ENABLE=1
RPI_COMPANION_WEB_HOST=0.0.0.0
RPI_COMPANION_WEB_PORT=8080
RPI_REPEATER_TCP_HOST=127.0.0.1
RPI_REPEATER_TCP_PORT=5001
RPI_REPEATER_WEB_ENABLE=1
RPI_REPEATER_WEB_HOST=0.0.0.0
RPI_REPEATER_WEB_PORT=8081
