RPI_FREQ_HZ=869525000
RPI_SF=11
RPI_BW_HZ=250000
RPI_CR=5
RPI_TX_DBM=22
RPI_DATA_DIR=/var/lib/raspberrypimc/userdata
RPI_SPI_BUS=0
RPI_SPI_CS=0
RPI_SPI_SPEED_HZ=8000000
RPI_RESET_PIN=18
RPI_BUSY_PIN=20
RPI_IRQ_PIN=16
RPI_TXEN_PIN=-1
RPI_RXEN_PIN=-1
RPI_COMPANION_TCP_PORT=5000
RPI_COMPANION_TCP_HOST=127.0.0.1
RPI_COMPANION_BLE_ENABLE=0
RPI_COMPANION_BLE_ADAPTER=hci0
RPI_COMPANION_BLE_NAME=MeshCore
